DATABASE_URL=postgresql+asyncpg://grid_user:ubuntu1234.@grid-db:5432/grid_db
REDIS_URL=redis://grid-redis:6379
FRONTEND_URL=http://localhost:3000
SENTRY_DSN=<your_sentry_dsn_here>
AUTH_SERVICE_URL=http://auth:8000/api/v1
DB_HOST=grid-db
DB_PORT=5432
DB_USER=grid_user
DB_PASSWORD=ubuntu1234.
DB_NAME=grid_db
